<div class="m-5">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <%= link_to "Add Product", new_product_path, class: "btn btn-primary" %>
  </div>

  <table class="table table-bordered table-striped">
    <caption class="caption-top">List of Products</caption>
    <thead class="table-dark">
    <tr>
      <th scope="col" class="text-center">#</th>
      <th scope="col" class="text-center">NAME</th>
      <th scope="col" class="text-center">CONTENT</th>
      <th scope="col" class="text-center">QUANTITY</th>
      <th scope="col" class="text-center">PRICE</th>
      <th scope="col" class="text-center">DISCOUNT</th>
      <th scope="col" class="text-center">AVAILABLE</th>
      <th scope="col" class="text-center">RELEASE DATE</th>
      <th scope="col" class="text-center">EXPIRY DATE</th>
      <th scope="col" class="text-center">ACTIONS</th>
    </tr>
    </thead>

    <tbody class="table-secondary s">
    <% @products.each do |product| %>
      <tr>
        <td class="text-center"><%= product.display_value(:id) %></td>
        <td class="text-center"><%= product.display_value(:name) %></td>
        <td class="text-center"><%= product.display_value(:content) %></td>
        <td class="text-center"><%= product.display_value(:quantity) %></td>
        <td class="text-center"><%= product.display_value(:price) %></td>
        <td class="text-center"><%= product.display_value(:discount) %></td>
        <td class="text-center"><%= product.display_value(:available) %></td>
        <td class="text-center"><%= product.display_value(:released_at) %></td>
        <td class="text-center"><%= product.display_value(:expiry_date) %></td>
        <td class="text-center">
          <%= link_to "Edit", new_product_path, class: "btn btn-primary" %>
          <%= link_to "Delete", new_product_path, class: "btn btn-primary" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

